{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Login Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <center>
                        <br><br><br><br>
                        <h2>Activation Link Sent at '{{email}}'</h2>
                        <h5>Check your email for the activation link.</h5>
                        <br><br><br><br>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login Section End -->

{% endblock content %}