{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Dashboard</h4>
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'store' %}">Store</a>
                        <span>Dashboard</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Dashboard Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <form action="#">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <table>
                                <thead>
                                    <tr>
                                        <center>
                                            <h5><b>{{user.first_name}} {{user.last_name}}</b></h5>
                                        </center>
                                    </tr>
                                </thead>
                                <center>
                                    <hr style="margin: 20px 0px 40px 0px; background-color: black; width: 50%;;">
                                </center>
                                <tbody>
                                    <tr>
                                        <a style="text-align: center; color: aliceblue;" type="submit"
                                            class="site-btn">Order History</a>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <a style="text-align: center; color: aliceblue;" type="submit"
                                            class="site-btn">Transactions</a>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <a style="text-align: center; color: aliceblue;" type="submit"
                                            class="site-btn">Returns and refunds</a>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <a style="text-align: center; color: aliceblue;" type="submit"
                                            class="site-btn">profile settings</a>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br><br><br>
                        <center>
                            <a style="text-align: center; color: aliceblue; width: 83%;" href="{% url 'logout' %}"
                                class="site-btn"><i class="fa fa-sign-out"></i> Sign out</a>
                        </center>
                    </div>
                    <div class="col-lg-8 col-md-6">
                        <h6 class="coupon__code"><span class="icon_search-2" style="margin-right: 0;">
                            </span> Search by Order ID or Date
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input" style=" margin-top: 10px;">
                                        <input type="text" placeholder="Order ID">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="checkout__input" style=" margin-top: 10px;">
                                        <input type="date" placeholder="Search by Date">
                                    </div>
                                </div>
                            </div>
                        </h6>
                        <div class="coupon__code">
                            <h6 class="checkout__title">Latest Order Details</h6>
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="checkout__input">
                                        <p><b>Order ID :</b> 43857693456</p>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="checkout__input">
                                        <p style="float: right;"><b>Order Date :</b> March 12, 2023</p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="checkout__input">
                                        <p style="font-weight: 700; font-style: italic; margin-bottom: 0;">Delivery
                                            Address: </p>
                                        <p style="margin-bottom: 0;">John Doe</p>
                                        <p style="margin: 0;">ABC Street, Western Village, C234-X64L</p>

                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="checkout__input">
                                        <p style="font-weight: 700; font-style: italic; margin-bottom: 0;">Payment
                                            Details: </p>
                                        <p style="margin-bottom: 0;">Visa <span
                                                style="color: green; padding-left: 15px; float: right;">**** **** ****
                                                2365</span></p>
                                        <p style="margin: 0;"><b>Subtotal : </b><span style="float: right;">Rs.
                                                12,909</span></p>
                                        <p style="margin: 0;"><b>Delivery Fee : </b><span style="float: right;">Rs.
                                                189</span></p>
                                        <p style="margin: 0;"><b>Tax : </b><span style="float: right;">Rs.
                                                2,323.62</span></p>
                                        <p style="margin: 0;"><b>Total :<span style="float: right;">Rs.
                                                    15,421.62</span></b></p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-2">
                                    <img width="130px" src="{% static 'img/product/product-5.jpg' %}" alt="">
                                </div>
                                <div class="col-lg-5">
                                    <p style="margin-bottom: 0;"><b>Product Name</b></p>
                                    <p style="margin: 0;"><b>Product ID:</b> 123456789</p>
                                    <p style="margin: 0;"><b>Size:</b> M</p>
                                    <p style="margin: 0;"><b>Color:</b> Black</p>
                                </div>
                                <div class="col-lg-2">
                                    <p style="margin-bottom: 0;"><b>Quantity</b></p>
                                    <p style="margin: 0;">1</p>
                                    <p style="margin-bottom: 0;"><b>Price</b></p>
                                    <p style="margin: 0;">Rs. 12,345</p>
                                </div>
                                <div class="col-lg-3">
                                    <p style="margin-bottom: 0;"><b>Delivery Status</b></p>
                                    <p style="margin: 0;">Delivered</p>
                                    <p style="margin-bottom: 0;"><b>Delivery Date</b></p>
                                    <p style="margin: 0;">March 12, 2023</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-2">
                                    <img width="130px" src="{% static 'img/product/product-3.jpg' %}" alt="">
                                </div>
                                <div class="col-lg-5">
                                    <p style="margin-bottom: 0;"><b>Product Name</b></p>
                                    <p style="margin: 0;"><b>Product ID:</b> 123456789</p>
                                    <p style="margin: 0;"><b>Size:</b> 12</p>
                                    <p style="margin: 0;"><b>Color:</b> Black</p>
                                </div>
                                <div class="col-lg-2">
                                    <p style="margin-bottom: 0;"><b>Quantity</b></p>
                                    <p style="margin: 0;">1</p>
                                    <p style="margin-bottom: 0;"><b>Price</b></p>
                                    <p style="margin: 0;">Rs. 12,345</p>
                                </div>
                                <div class="col-lg-3">
                                    <p style="margin-bottom: 0;"><b>Delivery Status</b></p>
                                    <p style="margin: 0;">Delivered</p>
                                    <p style="margin-bottom: 0;"><b>Delivery Date</b></p>
                                    <p style="margin: 0;">March 12, 2023</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" style="margin-top: 40px; margin-bottom: 30px;">
                                    <center>
                                        <a style="text-align: center; color: aliceblue; width: 83%;" type="submit"
                                            class="site-btn"><i class="fa fa-sign-out"></i>
                                            View
                                            Details</a>
                                    </center>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

        </div>
        </form>
    </div>
    </div>
</section>
<!-- Dashboard Section End -->

{% endblock content %}