{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Login Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Enter in the world of colors</span>
                        <h2>Email Verification</h2>
                        <p>As you might expect of a company that began as a high-end interiors contractor, we pay
                            strict attention.</p>
                    </div>
                    <ul>
                        <li>
                            <h4>America</h4>
                            <p>195 E Parker Square Dr, Parker, CO 801 <br />+43 982-314-0958</p>
                        </li>
                        <li>
                            <h4>France</h4>
                            <p>109 Avenue Léon, 63 Clermont-Ferrand <br />+12 345-423-9893</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                {% include 'messages/messages.html' %}
                <div class="contact__form">


                    <form action="{% url 'forgot_password' %}" method="POST" , name="forgot_password">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="text" placeholder="Email Address" name="email" style="color: black;">
                                <button type="submit" class="site-btn" name="forgot_password">Verify Email</button>
                            </div>
                        </div>
                    </form>


                    <br>
                    <hr style="background-color: black;">
                    <br>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="continue__btn">
                                <a style="width: 100%; text-align: center; border-color: black;" href="{% url 'login' %}">Sign In</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <a style="text-align: center; color: aliceblue; width: 100%; border: 1px solid black;" href="{% url 'register' %}"
                                class="site-btn">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login Section End -->

{% endblock content %}