{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Wishlist</h4>
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="{% url 'store' %}">Store</a>
                        <span>Wishlist</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Wishlist Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% elif message.tags == 'warning' %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
                {% elif message.tags == 'info' %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% if wishlist_empty %}
                <div class="col-lg-12">
                    <div class="cart__total__procced">
                        <center>
                            <h1 style="margin-top: 90px; margin-bottom: 60px;">{{wishlist_empty_message}}</h1>
                            <a href="{% url 'store' %}" style="margin-top: 40px; margin-bottom: 60px;"
                                class="primary-btn">Continue Shopping</a>
                        </center>
                    </div>
                </div>

                {% else %}

                <div class="shopping__cart__table">
                    <p>{{wishlist_items_len}} product(s) found</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for wishlist_item in wishlist_items %}
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <a href="{{wishlist_item.product.get_url}}" style="color: black;"><img src="{{wishlist_item.product.images.url}}" alt="" width="120px"></a>
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h5 style="font-weight: 900;"><a href="{{wishlist_item.product.get_url}}" style="color: black;">{{wishlist_item.product.product.brand.name}}</a></h5>
                                        <h6 style="padding-right: 10px; font-weight: 300;"><a href="{{wishlist_item.product.get_url}}" style="color: black;">{{wishlist_item.product.product_name}}</a></h6>
                                        <p style="margin: 0;"><b>Color : </b>{{wishlist_item.product.color}}</p>
                                        {% if wishlist_item.product.discount > 0 %}
                                        <p style="margin: 0;"><b>Original Price : </b>{{wishlist_item.product.price}}</p>
                                        <p style="margin: 0;color: red;"><b>Discount : </b>{{wishlist_item.product.discount}}% off</p>
                                        {% endif %}
                                    </div>
                                </td>
                                {% if wishlist_item.product.discount > 0 %}
                                <td class="cart__price">Rs. {{wishlist_item.product.discount_price}}</td>
                                {% else %}
                                <td class="cart__price">Rs. {{wishlist_item.product.price}}</td>
                                {% endif %}
                                <td class="cart__close">

                                    <a href="{{wishlist_item.product.get_url}}">
                                        <i class="fa fa-search"
                                            style="margin-left: 80px; margin-right: 40px; background-color: antiquewhite; color: brown;">
                                        </i>
                                    </a>
                                </td>

                                <td class="cart__close">
                                    <a href="{% url 'remove_from_wishlist' wishlist_item.product.id %}">
                                        <i class="fa fa-close"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            <!-- <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{% static 'img/shopping-cart/cart-1.jpg' %}" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>T-shirt Contrast Pocket</h6>
                                            <h5>$98.49</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ 30.00</td>
                                    <td class="cart__close"><i class="fa fa-close"></i></td>
                                </tr>
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{% static 'img/shopping-cart/cart-2.jpg' %}" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>Diagonal Textured Cap</h6>
                                            <h5>$98.49</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ 32.50</td>
                                    <td class="cart__close"><i class="fa fa-close"></i></td>
                                </tr>
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{% static 'img/shopping-cart/cart-3.jpg' %}" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>Basic Flowing Scarf</h6>
                                            <h5>$98.49</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ 47.00</td>
                                    <td class="cart__close"><i class="fa fa-close"></i></td>
                                </tr>
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{% static 'img/shopping-cart/cart-4.jpg' %}" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>Basic Flowing Scarf</h6>
                                            <h5>$98.49</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">$ 30.00</td>
                                    <td class="cart__close"><i class="fa fa-close"></i></td>
                                </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="{% url 'store' %}">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="{% url 'wishlist' %}"><i class="fa fa-spinner"></i> Update Wishlist</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <div class="col-lg-4">
                    <div class="cart__total">
                        <h6>Wishlist total</h6>
                        <ul>
                            <li>Subtotal <span>$ 169.50</span></li>
                            <li>Total <span>$ 169.50</span></li>
                        </ul>
                        <a href="#" class="primary-btn">Move to cart</a>
                        <br>
                        <a href="#" class="primary-btn" style="background-color: grey;">Buy Now</a>
                    </div>
                </div> -->
        </div>
    </div>
</section>
<!-- Wishlist Section End -->
{% endif %}

{% endblock content %}